<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        <title>Rango</title>
        <link rel="stylesheet" href="{% static "css/base.css" %}" />
        <script src="{% static "js/jquery.js" %}"></script>
    </head>
    <body>
        <h1>This tutorial has been put together by Martin Manov. </h1>
        <div>
            Which page was this!? <br />
            <strong>{{ boldmessage }}</strong><br />
        </div>

        <div>
            <a href='/rango/'>Index</a><br />
            <img src="{% static "images/about.jpg" %}"
                 alt = "What is this aboot ?" />

        </div>
        <div>
             <img src="{{ MEDIA_URL}}cat.jpg" />
        </div>
    </body>

</html>
